<html>
  <head>
    <title>MINI ORM</title>
  <head>
  <body>
    <h3>Mini ORM menu</h3>
    <ul>
      <li><a href='/profile'>Profile</a></li>
      <li><a href='/address'>Address</a></li>      
  </body>
</html>
