<html>
  <head>
    <title>profile</title>
  <head>
  <body>
    <h3>Profile</h3>
    <table>
      <th>ID</th>
      <th>Name</th>
      <th>Company</th>
      <% profile.forEach(i=>{%>
      <tr>
        <td><%=i.id%></td>
        <td><%=i.name%></td>
        <td><%=i.company%></td>
      </tr>
      <%})%>
    </table>
    <form action="/profile" method="post">
      <p>Name</p>
      <input type="text" name="name" placeholder="input your name">
      <p>Company</p>
      <input type="text" name="company" placeholder="input your company">
      <p>Address</p>
      <input type="text" name="address" placeholder="input your address">
      <p>
      <input type="submit" value="ADD PROFILE">
      </p>
    </form>
  </body>
</html>
